{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}


{% block section %}Create Employee{% endblock %}

{% block container %}
  <h1>Create Employee</h1>
  <form method="POST" action="/employee/create_employee">
    {{ form.csrf_token }}
    {{ render_field(form.Ssn) }}
    {{ render_field(form.FirstName) }}
    {{ render_field(form.LastName) }}
    {{ render_field(form.BirthDate) }}
    {{ render_field(form.Dno) }}
    {{ render_field(form.Gender) }}
    {{ render_field(form.Country) }}
    {{ render_field(form.City) }}
    {{ render_field(form.PostalCode) }}
    {{ render_field(form.Salary) }}
    <input type="submit" value="Create">
  </form>
{% endblock %}

