{% extends "base.html" %}



{% block section %}Department{% endblock %}



{% block table %}
    <thead>
      <tr>
        <th scope="col">Ssn</th>
        <th scope="col">FullName</th>
        <th scope="col">Dno</th>
        <th scope="col">Name</th>

      </tr>
    </thead>
    <tbody>
    {% for department in departmentOfEmployees_info %}
      <tr>
        {% for item in department %}
        <td>{{item}}</td>
        {% endfor %}
      </tr>
    {% endfor %}
      
    </tbody>
{% endblock %}


